FOLLOWUP_DB=./data/followup.velo
FOLLOWUP_HOST=127.0.0.1
FOLLOWUP_PORT=8000
FOLLOWUP_SCAN_AUTHOR=@SosyalRobot
VELO_LITE_LIB_DIR=../velo-lite/target/release
FOLLOWUP_API_TOKEN=change-this-before-public-deploy
